Repository nuclearpasta/react-native-drax, pull requests merged in 2021-04, with the labels that each got.

#86 Cleaned up PR #64
  CHANGELOG.md
  package-lock.json
  src/DraxList.tsx
  src/types.ts
Labels: DraxList, enhancement

#36 update types for hover styles to match what is possible in library
  src/types.ts
Labels: breaking TS change

#88 Hover transforms
  CHANGELOG.md
  src/DraxView.tsx
  src/transform.ts
  src/types.ts
Labels: breaking TS change, enhancement, styling
